@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(90deg, #FFF 2%, #BDBDBD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}